<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet">
    <style>
 .container {
 max-width: 560px;
 }
 </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>글 상세</h2>
    </div>
    <h2 th:if="${param.status}" th:text="'저장완료!'"></h2>
    <div>
        <label for="articleId">글 ID</label>
        <input type="text" id="articleId" name="articleId" class="form-control"
               value="1" th:value="${article.id}" readonly>
    </div>
    <div>
        <label for="articleName">글 제목</label>
        <input type="text" id="articleName" name="articleName" class="form-control"
               value="상품A" th:value="${article.articleName}" readonly>
    </div>
    <div>
        <label for="articleBody">본문 내용</label>
        <input type="text" id="articleBody" name="articleBody" class="form-control"
               value="10000" th:value="${article.articleBody}" readonly>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/basic/articles/{articleId}/edit(articleId=${article.id})}'|"
                    type="button">글 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='articles.html'"
                    th:onclick="|location.href='@{/basic/articles}'|"
                    type="button">목록으로</button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>