<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>게시글 목록</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/basic/articles/add}'|"
                    type="button">글 등록</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>글 제목</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article:${articles}">
                <td><a href="article.html"
                       th:href="@{/basic/articles/{articleId}(articleId=${article.id})}"
                       th:text="${article.id}">글 ID</a></td>
                <td><a href="article.html"
                       th:href="@{/basic/articles/{articleId}(articleId=${article.getId()})}"
                       th:text="${article.getArticleName()}">글 제목</a></td>
                <!--프로퍼티 접근법이나 get방식이나 같게 나옴-->
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>